* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #fff; */
  /* min-height: 100vh; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100vh;
}
.bg-theme {
  background: linear-gradient(135deg, #d100f3, #002bc5) !important;
}
.text-theme {
  background: linear-gradient(135deg, #d100f3 0%, #002bc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.modal-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}
